@import "tailwindcss";

@font-face {
    font-family: apna;
    src: url(./assets/fonts/font.woff2);
}
@font-face {
    font-family: apna2;
    src: url(./assets/fonts/font1.woff2);
}
@font-face {
    font-family: apna3;
    src: url(./assets/fonts/font2.woff2);
}

.bg-hero-desktop{
  background-image: url('');
}

.bg-hero-mobile {
  background-image: url('/src/assets/mobile.png');
}


#main{
    perspective: 1000px;
    position: relative;
}
#section2{
    perspective: 2000px;
    position: relative;
}

#tilt{
    width: fit-content;

}

.rotateText{
    transform-origin: 100% 70%;

}